<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="calculateFact">
        <input type="text" name="number" placeholder="enter number for factorial">
        <input type="submit" value="get">
    </form>
    {% if result %}
    <h1>Factorial = {{result}}</h1>
    {% endif %}

    <a href="employeedatashow">Get employee data</a>
</body>
</html>